<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Pedidos</title>
</head>

<body class="body-geral">
    <div class="cont-principal">
        <div class="menu-lateral" id="menuLateral">
            <button class="toggle-menu" id="toggleMenu">☰</button>
            
            <ul>
                <li><a th:href="@{/home}" class="box">Início</a></li>
                <li><a th:href="@{/estoque}" class="box">Estoque</a></li>
                <li><a th:href="@{/producao}" class="box">Produção</a></li>
                <li><a th:href="@{/vendas}" class="box">Vendas</a></li>
                <li><a th:href="@{/produtos}" class="box">Produtos</a></li>
                <li><a th:href="@{/pedidos}" class="box">Pedidos</a></li>
                <li><a th:href="@{/orcamentos}" class="box">Orçamentos</a></li>
                                                <li><a th:href="@{/configuracoes}" class="box">Configurações</a></li>
                
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{/admin/usuarios}" class="box">Usuários</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="box">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="conteudo">
            <div class="conteudo-meio">
                <h2>Gerenciamento de Pedidos</h2>
                <div class="links">
                    <a th:href="@{/pedido/novo}" class="box">Novo Pedido</a>
                    <a th:href="@{/pedidos}" class="box">Listar Pedidos</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/home.js"></script>
</body>

</html>